{% include 'head.html' %}
{% block body %}
	<div class='row'>
		<div class='col-md-4 mx-auto'>
			<h3 class="text-center">Add Entry</h3><hr>
			<form class="text-center" method='post' action='{{url_for("addEntry")}}'>
				<div class='form-group my-3'>
					<input list="names" type="text" name="name" id="name" required class="form-select" placeholder="Select Name">
					<datalist id="names">
					</datalist>
				</div>
				<div class='form-group my-3'>
					<input list="items" type="text" name="item" id="item" required class="form-select" placeholder="Select Item">
					<datalist id="items">
					</datalist>
				</div>
				<div class='form-group my-3'>
					<input type='date' name='date' id='date' required class='form-control'>
				</div>
				<div class='form-group my-3'>
					<input type='number' name='quantity' id='quantity' required class='form-control' placeholder='Quantity' min="1">
				</div>
				<div class='form-group my-3'>
					<input type='number' name='total' id='total' required class='form-control' placeholder='Total' disabled>
				</div>
				<button type='submit' class='btn btn-primary my-1'><i class="fa-solid fa-angles-right"></i> Submit</button>
				<button type='reset' class="btn btn-secondary my-1"><i class="fa-solid fa-rotate-left"></i> Reset</button>
				<a type="button" class="btn btn-warning my-1" href="/home"><i class="fa-solid fa-home"></i> Go Home</a>
			</form>
		</div>
	</div>
{% endblock %}
{% include 'footer.html' %}