{% block body %}
<div class="container my-3 text-center">
	<footer class="text-center">
		<a href="#" data-bs-toggle="modal" data-bs-target="#footerModal">Credits</a>
	</footer>
</div>
<div class="modal fade" id="footerModal" tabindex="-1" role="dialog" aria-labelledby="footerModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body text-center">
				<p class="small">Flask app designed and developed by <br><b>@sundeepkrv</b></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts%}
<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(() => {$("#msg").remove();}, 3000);
		$('#confirm-delete').on('show.bs.modal', function(e) {
			$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
		});
		$('#table').DataTable({
			ordering: false,
			footerCallback: function (row, data, start, end, display) {
				var api = this.api();
				var idx = api.columns()[0].length > 3 ? 4 : 2;
				total = api.column(idx).data().reduce(function (a, b) {return parseInt(a)+parseInt(b);}, 0);
				pageTotal = api.column(idx, {page: 'current'}).data().reduce(function (a, b) {return parseInt(a)+parseInt(b);}, 0);
				$('#totalsum').html('Page Total: '+ pageTotal.toLocaleString('en-IN') + '&emsp;(Grand Total: ' + total.toLocaleString('en-IN') +')');
			}
		});
		$.getJSON('../static/options.json', function(options) {
			$.each(options.names, function(k,v) { $('#names').append('<option>'+v+'</option') });
			$.each(options.items, function(k,v) { $('#items').append('<option>'+v+'</option') });
		});
		$('#quantity, #item').on('input', function() {
			$('#total').val($('#quantity').val()*$('#item').val().split("Rs.")[1]);
		});
		d = new Date().toLocaleDateString().split("/");
		$("#date").val(d[2]+'-'+d[1]+'-'+d[0]);
	});
</script>
{% endblock %}
